body {
    user-select: none;
}

td {
    height: 48px;
    width: 48px;
    text-align: center;
}

table {
    border-spacing: 0px;
}

#loadImage {
    display: none;
}

.health{
    height: 20px;
    border-radius: 5px;
    width: 75px;
}

.spacer {
    width: 3px;
    height: 0px;
    /* background: linear-gradient(); */
}

.info {
    width: 75px;
    height: 20px;
    text-align: left;
    border-radius: 5px;
}

#enemySpacer {
    height: 20px;
}

.level {
    float: right;
}

.options {
    width: 50%;
    border-radius: 5px;
    border: 2px solid black;
    margin-top: 15px;
    background-color: beige;
}

.container {
    display: flex;
}

.inventory {
    width: 24%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 1%;
    text-align: center;
}

.item {
    position: relative;
    width: auto;
    user-select: none;
}

.item .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: white;
    border: 0.5px solid black;
    text-align: center;
    border-radius: 6px;
    margin-left: 5px;
    position: absolute;
    z-index: 1;
}

.item:hover .tooltiptext {
    visibility: visible;
}

.button {
    width: 25%;
    user-select: none;
}

button {
    user-select: none;
}

#sell {
    padding-left: 45%;
    padding-right: 45%;
}